.game-container {

  #board {
    background-color: rgba($color: black, $alpha: 0.2);
    height: 30rem;
    width: 30rem;
    margin: 0 auto;

    #grid {
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;
      justify-content: center;
      height: 100%;
      width: 100%;
      .item {
        border: 1px solid rgba(0,0,0,0.6);
        height: 100%;
        width: 100%;
        max-height: 33%;
        max-width: 33%;
        transition: background 0.5s ease-in-out;

        &:hover {
          background: rgba($color: white, $alpha: 0.6)
        }
        &.player1, &.player2 {
          background: rgba($color: black, $alpha: 0.8);

          &:hover {
            background: rgba($color: white, $alpha: 0.8);
          }
        }
      }
    }

  }

}