.game-container {

  visibility: hidden;

  #board {
    background-color: rgba($color: black, $alpha: 0.2);
    height: 100%;
    width: 100%;
    max-height: auto;
    max-width: 30rem;
    margin: 0 auto;
    box-shadow: 4px 4px 25px rgba(#000, 0.8);

    #grid {
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;
      justify-content: center;
      height: 100%;
      width: 101%;
      margin-left: -0.5%;
      .item {
        border-bottom: $borderStyle1;
        height: 100%;
        width: 100%;
        max-height: 33%;
        max-width: 33%;
        transition: all 0.5s ease-in-out;

        &:nth-of-type(1), &:nth-of-type(4), &:nth-of-type(7) {
          border-right: $borderStyle1;
        }
        &:nth-of-type(3), &:nth-of-type(6), &:nth-of-type(9) {
          border-left: $borderStyle1;
        }
        &:nth-of-type(7), &:nth-of-type(8), &:nth-of-type(9) {
          border-bottom: 0;
        }
        &:hover {
          background: rgba($color: white, $alpha: 0.6);
          box-shadow: 0 0 3rem rgba(#000, 0.6) inset;
        }
        &.player1, &.player2 {
          background: rgba($color: white, $alpha: 0.8);
          box-shadow: 0 0 2rem rgba(#000, 0.5) inset;
        }
        .feather-plus, [data-feather] {
          visibility: hidden;

          &[class|="feather-"] {
            visibility: visible;
          }
        }
        div {
          display: flex;
          flex-flow: row;
          align-content: center;
          justify-content: middle;
          width: 100%;
          height: 100%;

          img, svg {
            width: 60%;
            height: 60%;
            margin: 20%;
            // opacity: 0;
            transition: opacity 0.3s ease-in;

            &.show {
              opacity: 1;
              visibility: hidden;
            }
          }
        }
      }
    }

  }

}
.game-info {
  visibility: hidden;
  .previous-games {
    &.show-lg-up {
      display: none;
    }
    ol {
      list-style: none;
      padding-left: 0;
      li {
        // background-color: rgba(#fff, 0.002);
        border-bottom: 1px solid rgba(#fff, 0.3);
        margin: 0;
        padding: 1rem 0;

        li:first-child {
          padding-top: 0;
        }

        dl {
          display: flex;
          justify-content: start;
          flex-flow: wrap;
          margin: 0;
          width: 100%;

          dt, dd {
            width: 40%;
            align-self: auto;
            justify-items: first baseline;
          }
        }
      }
    }
    @media (min-width: 992px) {
      &.show-lg-up {
        display: inherit;
      }
    }
  }

}