/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 1, ../../../sass/components/_page.scss */
body {
  background-image: radial-gradient(circle, #405d62 1%, #2e4347 100%);
  color: white;
}
/* line 5, ../../../sass/components/_page.scss */
body .center {
  color: black;
}
/* line 8, ../../../sass/components/_page.scss */
body .wrapper {
  box-shadow: 0 0 15rem rgba(0, 0, 0, 0.4) inset;
}

/* line 3, ../../../sass/components/_game.scss */
.game-container #board {
  background-color: rgba(0, 0, 0, 0.2);
  height: 30rem;
  width: 30rem;
  margin: 0 auto;
}
/* line 9, ../../../sass/components/_game.scss */
.game-container #board #grid {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  width: 100%;
}
/* line 16, ../../../sass/components/_game.scss */
.game-container #board #grid .item {
  border: 1px solid rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  max-height: 33%;
  max-width: 33%;
  transition: background 0.5s ease-in-out;
}
/* line 24, ../../../sass/components/_game.scss */
.game-container #board #grid .item:hover {
  background: rgba(255, 255, 255, 0.6);
}
/* line 27, ../../../sass/components/_game.scss */
.game-container #board #grid .item.player1, .game-container #board #grid .item.player2 {
  background: rgba(0, 0, 0, 0.8);
}
/* line 30, ../../../sass/components/_game.scss */
.game-container #board #grid .item.player1:hover, .game-container #board #grid .item.player2:hover {
  background: rgba(255, 255, 255, 0.8);
}

/* line 44, ../../../sass/components/_game.scss */
.game-info .previous-games ol {
  list-style: none;
  padding-left: 0;
}
/* line 47, ../../../sass/components/_game.scss */
.game-info .previous-games ol li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 0;
  padding: 1rem 0;
}
/* line 53, ../../../sass/components/_game.scss */
.game-info .previous-games ol li li:first-child {
  padding-top: 0;
}
/* line 57, ../../../sass/components/_game.scss */
.game-info .previous-games ol li dl {
  display: flex;
  justify-content: start;
  flex-flow: wrap;
  margin: 0;
  width: 100%;
}
/* line 64, ../../../sass/components/_game.scss */
.game-info .previous-games ol li dl dt, .game-info .previous-games ol li dl dd {
  width: 40%;
  align-self: auto;
  justify-items: first baseline;
}
