/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 3, ../../../sass/components/_game.scss */
.game-container #board {
  background-color: rgba(0, 0, 0, 0.2);
  height: 30rem;
  width: 30rem;
  margin: 0 auto;
}
/* line 9, ../../../sass/components/_game.scss */
.game-container #board #grid {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  width: 100%;
}
/* line 16, ../../../sass/components/_game.scss */
.game-container #board #grid .item {
  border: 1px solid rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  max-height: 33%;
  max-width: 33%;
  transition: background 0.5s ease-in-out;
}
/* line 24, ../../../sass/components/_game.scss */
.game-container #board #grid .item:hover {
  background: rgba(255, 255, 255, 0.6);
}
/* line 27, ../../../sass/components/_game.scss */
.game-container #board #grid .item[data-played] {
  background: rgba(255, 255, 255, 0.8);
}
/* line 30, ../../../sass/components/_game.scss */
.game-container #board #grid .item[data-played]:hover {
  background: rgba(255, 255, 255, 0.8);
}
